<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,100&display=swap" rel="stylesheet">
    <title>Čats</title>
</head>
<body>
<div class="wrapper">
  <del>slepenais čats</del>
  <div class="chataZinas">    
  </div>
</div>
<!--Te beidzas wrapper-->
<script src="/static/script.js"></script>
</body>
</html>